Projects/StandingDeskAutomation/standingDeskAutomation.json
[{"id":"54749f686cdd0f0f","type":"api-call-service","z":"60a6d0647696b3a2","name":"Desk Sitting","server":"31f480d3.0e3b28","version":5,"debugenabled":true,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":["99adb57316c0f57ca0988ff102b9645b"],"entityId":["cover.desk"],"data":"{\"position\": 9}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"x":1850,"y":680,"wires":[["ee325ae1ef026dcd"]]},{"id":"bddfcc6c1c6c0b2f","type":"api-call-service","z":"60a6d0647696b3a2","name":"Desk Standing","server":"31f480d3.0e3b28","version":5,"debugenabled":true,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":["99adb57316c0f57ca0988ff102b9645b"],"entityId":["cover.desk"],"data":"{\"position\": 70}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"x":1840,"y":600,"wires":[["ee325ae1ef026dcd"]]},{"id":"5c4f908b67841fcc","type":"api-current-state","z":"60a6d0647696b3a2","name":"Living Room Automation On","server":"31f480d3.0e3b28","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.living_room_automation","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":520,"y":380,"wires":[["b3e0f59b4324f2a5"],[]]},{"id":"aee7ed6d1847bef0","type":"inject","z":"60a6d0647696b3a2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":380,"wires":[["5c4f908b67841fcc"]]},{"id":"b3e0f59b4324f2a5","type":"api-current-state","z":"60a6d0647696b3a2","name":"Home Status = Home","server":"31f480d3.0e3b28","version":3,"outputs":2,"halt_if":"Home","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.home_status","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":840,"y":380,"wires":[["389795be90a3f74e"],[]]},{"id":"389795be90a3f74e","type":"api-current-state","z":"60a6d0647696b3a2","name":"Fastroom Desk","server":"31f480d3.0e3b28","version":3,"outputs":2,"halt_if":"Desk","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.fastroom_occupancy","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1180,"y":380,"wires":[["ddd8625b4dce3348"],[]]},{"id":"d735aef24e9451ce","type":"api-current-state","z":"60a6d0647696b3a2","name":"Fastroom Audio Input in Use","server":"31f480d3.0e3b28","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.fastroom_audio_input_in_use","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":860,"y":640,"wires":[[],["f94f6ba7317c795e"]]},{"id":"ddd8625b4dce3348","type":"function","z":"60a6d0647696b3a2","name":"Increment Timer","func":"var timer = flow.get('deskPositionTimer');\ntimer += 1;\nmsg.payload = timer;\nflow.set('deskPositionTimer', timer);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":380,"wires":[["235ff62ad0960816","e578cd8044b9f5d2"]]},{"id":"235ff62ad0960816","type":"debug","z":"60a6d0647696b3a2","name":"deskPositionTimer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1810,"y":340,"wires":[]},{"id":"23f49d0d4cb8e1b4","type":"switch","z":"60a6d0647696b3a2","name":"","property":"deskPositionTimer","propertyType":"flow","rules":[{"t":"gt","v":"70","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":600,"wires":[["3c04887f08725e0d"]]},{"id":"1714635a3182cc56","type":"api-current-state","z":"60a6d0647696b3a2","name":"Desk Sitting","server":"31f480d3.0e3b28","version":3,"outputs":2,"halt_if":"Sitting","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.desk_position","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1350,"y":600,"wires":[["23f49d0d4cb8e1b4"],[]]},{"id":"36c538120f385d38","type":"server-state-changed","z":"60a6d0647696b3a2","name":"Bedroom Motion","server":"31f480d3.0e3b28","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bedroom_motion_iaszone","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[],"x":200,"y":620,"wires":[["944f197b6575c3fe"],[]]},{"id":"4f09acf907aa12ac","type":"server-state-changed","z":"60a6d0647696b3a2","name":"Entrance Motion","server":"31f480d3.0e3b28","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.entrance_motion_iaszone","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[],"x":200,"y":680,"wires":[["944f197b6575c3fe"],[]]},{"id":"a09fe379141d5048","type":"server-state-changed","z":"60a6d0647696b3a2","name":"Bathroom Motion","server":"31f480d3.0e3b28","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bathroom_motion_iaszone","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[],"x":200,"y":740,"wires":[["944f197b6575c3fe"],[]]},{"id":"944f197b6575c3fe","type":"api-current-state","z":"60a6d0647696b3a2","name":"Living Room Automation On","server":"31f480d3.0e3b28","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.living_room_automation","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":520,"y":640,"wires":[["d735aef24e9451ce"],[]]},{"id":"e578cd8044b9f5d2","type":"ha-sensor","z":"60a6d0647696b3a2","name":"Desk Position Timer","entityConfig":"588a8f0468e55c4b","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1820,"y":420,"wires":[[]]},{"id":"a00b25f679ac3f04","type":"server-state-changed","z":"60a6d0647696b3a2","name":"Desk Position Sitting","server":"31f480d3.0e3b28","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.desk_position","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Sitting","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[],"x":190,"y":860,"wires":[["d0ab20aadc26a117"],[]]},{"id":"e95f0e507794b7e4","type":"change","z":"60a6d0647696b3a2","name":"Reset deskPositionTimer","rules":[{"t":"set","p":"deskPositionTimer","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":920,"wires":[[]]},{"id":"d0ab20aadc26a117","type":"api-current-state","z":"60a6d0647696b3a2","name":"Living Room Automation On","server":"31f480d3.0e3b28","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.living_room_automation","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":520,"y":920,"wires":[["e95f0e507794b7e4"],[]]},{"id":"0f8b5fd1ab797887","type":"server-state-changed","z":"60a6d0647696b3a2","name":"Home Status","server":"31f480d3.0e3b28","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.home_status","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"Sleep","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"}],"x":210,"y":980,"wires":[["d0ab20aadc26a117"],[]]},{"id":"8d34a9b72847cda9","type":"server-state-changed","z":"60a6d0647696b3a2","name":"Kitchen Motion","server":"31f480d3.0e3b28","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kitchen_motion_iaszone","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[],"x":200,"y":560,"wires":[["944f197b6575c3fe"],[]]},{"id":"0ed2c05380faa510","type":"server-state-changed","z":"60a6d0647696b3a2","name":"Desk Position Standing","server":"31f480d3.0e3b28","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.desk_position","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Standing","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[],"x":180,"y":920,"wires":[["d0ab20aadc26a117"],[]]},{"id":"ee325ae1ef026dcd","type":"debug","z":"60a6d0647696b3a2","name":"deskMove","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2130,"y":640,"wires":[]},{"id":"72e2dac449c47a8e","type":"api-current-state","z":"60a6d0647696b3a2","name":"Desk Standing","server":"31f480d3.0e3b28","version":3,"outputs":2,"halt_if":"Standing","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.desk_position","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1360,"y":680,"wires":[["d74469f22f06baa6"],[]]},{"id":"d74469f22f06baa6","type":"switch","z":"60a6d0647696b3a2","name":"","property":"deskPositionTimer","propertyType":"flow","rules":[{"t":"gt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":680,"wires":[["a7456589588facbd"]]},{"id":"f94f6ba7317c795e","type":"time-range-switch","z":"60a6d0647696b3a2","name":"","lat":"45.49033","lon":"-73.55914","startTime":"09:00","endTime":"20:00","startOffset":0,"endOffset":0,"x":1110,"y":640,"wires":[["1714635a3182cc56","72e2dac449c47a8e"],["72e2dac449c47a8e"]]},{"id":"3c04887f08725e0d","type":"junction","z":"60a6d0647696b3a2","x":1720,"y":600,"wires":[["bddfcc6c1c6c0b2f"]]},{"id":"a7456589588facbd","type":"junction","z":"60a6d0647696b3a2","x":1720,"y":680,"wires":[["54749f686cdd0f0f"]]},{"id":"31f480d3.0e3b28","type":"server","name":"Home Assistant","version":5,"addon":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"588a8f0468e55c4b","type":"ha-entity-config","server":"31f480d3.0e3b28","deviceConfig":"","name":"desk_position_timer","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Desk Position Timer"},{"property":"icon","value":"mdi:camera-timer"},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"Minutes"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false}]