NodeRed/officeLight.json
[
    {
        "id": "9ec4d83a.2a29e8",
        "type": "api-call-service",
        "z": "89f58b06.2d98f",
        "name": "Rainbow Lights On",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "debugenabled": true,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.rainbow",
        "data": "{\"entity_id\":\"light.rainbow\",\"brightness_pct\":\"{{brightness}}\",\"effect\":\"{{effect}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1590,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "7bdc2a95.d41344",
        "type": "inject",
        "z": "89f58b06.2d98f",
        "name": "On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 850,
        "y": 1360,
        "wires": [
            [
                "84e9bfb4.4395a8",
                "a0bb7b10.d89d58"
            ]
        ]
    },
    {
        "id": "6a3978e9.614b28",
        "type": "inject",
        "z": "89f58b06.2d98f",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 850,
        "y": 1880,
        "wires": [
            [
                "a6cc5350.49c758",
                "8d243391.eec0e8"
            ]
        ]
    },
    {
        "id": "a6cc5350.49c758",
        "type": "api-call-service",
        "z": "89f58b06.2d98f",
        "name": "Rainbow Lights Off",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.rainbow",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1590,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "4241a7cb.cf378",
        "type": "server-state-changed",
        "z": "89f58b06.2d98f",
        "name": "Office Occuancy",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.office_occupancy",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": false,
        "x": 140,
        "y": 1680,
        "wires": [
            [
                "cf61789c.d2106"
            ],
            [
                "fa3ae402.dc0c28"
            ]
        ]
    },
    {
        "id": "84e9bfb4.4395a8",
        "type": "api-call-service",
        "z": "89f58b06.2d98f",
        "name": "Office Strip On",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "debugenabled": true,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.office_strip",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1580,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "e75d168.a423268",
        "type": "server-state-changed",
        "z": "89f58b06.2d98f",
        "name": "Darkroom Active",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.darkroom_active",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 140,
        "y": 1500,
        "wires": [
            [
                "4a030e32.f602a"
            ],
            [
                "948954cb.8e7be"
            ]
        ]
    },
    {
        "id": "8d243391.eec0e8",
        "type": "api-call-service",
        "z": "89f58b06.2d98f",
        "name": "Office Strip Off",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "debugenabled": true,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.office_strip",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1580,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "7c5196c2.5c254",
        "type": "server-state-changed",
        "z": "89f58b06.2d98f",
        "name": "Facetime Active",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.darkroom_facetime_hd_camera_built_in",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 140,
        "y": 1260,
        "wires": [
            [
                "f641757a.4b6118"
            ],
            [
                "f899dcac.e2aff"
            ]
        ]
    },
    {
        "id": "5515871c.640cd",
        "type": "change",
        "z": "89f58b06.2d98f",
        "name": "Northern Lights Soft",
        "rules": [
            {
                "t": "set",
                "p": "effect",
                "pt": "msg",
                "to": "Northern Lights Soft",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "brightness",
                "pt": "msg",
                "to": "100",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 1200,
        "wires": [
            [
                "9ec4d83a.2a29e8"
            ]
        ]
    },
    {
        "id": "a0bb7b10.d89d58",
        "type": "change",
        "z": "89f58b06.2d98f",
        "name": "Northern Lights Slow",
        "rules": [
            {
                "t": "set",
                "p": "effect",
                "pt": "msg",
                "to": "Northern Lights Slow",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "brightness",
                "pt": "msg",
                "to": "100",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 1320,
        "wires": [
            [
                "9ec4d83a.2a29e8"
            ]
        ]
    },
    {
        "id": "bc71aab6.83d378",
        "type": "inject",
        "z": "89f58b06.2d98f",
        "name": "Facetime",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 840,
        "y": 1100,
        "wires": [
            [
                "5515871c.640cd"
            ]
        ]
    },
    {
        "id": "48a61c0.e214764",
        "type": "trigger",
        "z": "89f58b06.2d98f",
        "name": "",
        "op1": "",
        "op2": "true",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "20",
        "extend": true,
        "units": "s",
        "reset": "on",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1150,
        "y": 1580,
        "wires": [
            [
                "a6cc5350.49c758",
                "8d243391.eec0e8"
            ]
        ]
    },
    {
        "id": "fe95d31a.f72358",
        "type": "api-current-state",
        "z": "89f58b06.2d98f",
        "name": "Office Occuancy Off",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "binary_sensor.office_occupancy",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 800,
        "y": 1660,
        "wires": [
            [
                "48a61c0.e214764"
            ],
            []
        ]
    },
    {
        "id": "2076551f.798792",
        "type": "api-current-state",
        "z": "89f58b06.2d98f",
        "name": "Darkroom Active Off",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "binary_sensor.darkroom_active",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 800,
        "y": 1780,
        "wires": [
            [
                "a6cc5350.49c758",
                "8d243391.eec0e8"
            ],
            []
        ]
    },
    {
        "id": "2ef8d663.15370a",
        "type": "merge",
        "z": "89f58b06.2d98f",
        "name": "",
        "timeout": "",
        "x": 850,
        "y": 1480,
        "wires": [
            [
                "a0bb7b10.d89d58",
                "84e9bfb4.4395a8"
            ]
        ]
    },
    {
        "id": "f641757a.4b6118",
        "type": "api-current-state",
        "z": "89f58b06.2d98f",
        "name": "Office Automation On",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.office_automation",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 460,
        "y": 1200,
        "wires": [
            [
                "5515871c.640cd"
            ],
            []
        ]
    },
    {
        "id": "f899dcac.e2aff",
        "type": "api-current-state",
        "z": "89f58b06.2d98f",
        "name": "Office Automation On",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.office_automation",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 460,
        "y": 1320,
        "wires": [
            [
                "a0bb7b10.d89d58"
            ],
            []
        ]
    },
    {
        "id": "4a030e32.f602a",
        "type": "api-current-state",
        "z": "89f58b06.2d98f",
        "name": "Office Automation On",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.office_automation",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 460,
        "y": 1440,
        "wires": [
            [
                "2ef8d663.15370a",
                "48a61c0.e214764"
            ],
            []
        ]
    },
    {
        "id": "fa3ae402.dc0c28",
        "type": "api-current-state",
        "z": "89f58b06.2d98f",
        "name": "Office Automation On",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.office_automation",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 460,
        "y": 1740,
        "wires": [
            [
                "2076551f.798792"
            ],
            []
        ]
    },
    {
        "id": "cf61789c.d2106",
        "type": "api-current-state",
        "z": "89f58b06.2d98f",
        "name": "Office Automation On",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.office_automation",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 460,
        "y": 1640,
        "wires": [
            [
                "48a61c0.e214764",
                "2ef8d663.15370a"
            ],
            []
        ]
    },
    {
        "id": "948954cb.8e7be",
        "type": "api-current-state",
        "z": "89f58b06.2d98f",
        "name": "Office Automation On",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.office_automation",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 460,
        "y": 1560,
        "wires": [
            [
                "fe95d31a.f72358"
            ],
            []
        ]
    },
    {
        "id": "31f480d3.0e3b28",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]