NodeRed/officeLight.json
[
    {
        "id": "9ec4d83a.2a29e8",
        "type": "api-call-service",
        "z": "89f58b06.2d98f",
        "name": "Rainbow Lights On",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "debugenabled": true,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.rainbow",
        "data": "{\"entity_id\":\"light.rainbow\",\"brightness_pct\":\"{{brightness}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1470,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "7bdc2a95.d41344",
        "type": "inject",
        "z": "89f58b06.2d98f",
        "name": "On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1010,
        "y": 920,
        "wires": [
            [
                "6656c99.8847eb8",
                "84e9bfb4.4395a8"
            ]
        ]
    },
    {
        "id": "6656c99.8847eb8",
        "type": "change",
        "z": "89f58b06.2d98f",
        "name": "Set Full",
        "rules": [
            {
                "t": "set",
                "p": "brightness",
                "pt": "msg",
                "to": "100",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1140,
        "wires": [
            [
                "9ec4d83a.2a29e8"
            ]
        ]
    },
    {
        "id": "6a3978e9.614b28",
        "type": "inject",
        "z": "89f58b06.2d98f",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 1010,
        "y": 1540,
        "wires": [
            [
                "a6cc5350.49c758",
                "8d243391.eec0e8"
            ]
        ]
    },
    {
        "id": "a6cc5350.49c758",
        "type": "api-call-service",
        "z": "89f58b06.2d98f",
        "name": "Rainbow Lights Off",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.rainbow",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1470,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "4241a7cb.cf378",
        "type": "server-state-changed",
        "z": "89f58b06.2d98f",
        "name": "Office Occuancy",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.office_occupancy",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 160,
        "y": 1160,
        "wires": [
            [
                "c947606d.5db51",
                "310f4148.9f8e46"
            ],
            [
                "c947606d.5db51",
                "beadae51.cbc7d"
            ]
        ]
    },
    {
        "id": "c947606d.5db51",
        "type": "debug",
        "z": "89f58b06.2d98f",
        "name": "Guest Room Occupency",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 1440,
        "wires": []
    },
    {
        "id": "84e9bfb4.4395a8",
        "type": "api-call-service",
        "z": "89f58b06.2d98f",
        "name": "Office Strip On",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "debugenabled": true,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.office_strip",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1460,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "2d68d57f.c8b462",
        "type": "trigger",
        "z": "89f58b06.2d98f",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "20",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1190,
        "y": 1340,
        "wires": [
            [
                "a6cc5350.49c758",
                "8d243391.eec0e8"
            ]
        ]
    },
    {
        "id": "e75d168.a423268",
        "type": "server-state-changed",
        "z": "89f58b06.2d98f",
        "name": "Darkroom Active",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.darkroom_active",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 160,
        "y": 1000,
        "wires": [
            [
                "310f4148.9f8e46",
                "38f779d0.fd87be"
            ],
            [
                "c12ae8d0.d27ea",
                "38f779d0.fd87be"
            ]
        ]
    },
    {
        "id": "1143fc04.03adf4",
        "type": "BooleanLogic",
        "z": "89f58b06.2d98f",
        "name": "",
        "operation": "AND",
        "inputCount": 2,
        "topic": "result",
        "x": 1000,
        "y": 1340,
        "wires": [
            [
                "2d68d57f.c8b462"
            ]
        ]
    },
    {
        "id": "c12ae8d0.d27ea",
        "type": "rbe",
        "z": "89f58b06.2d98f",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 790,
        "y": 1300,
        "wires": [
            [
                "1143fc04.03adf4"
            ]
        ]
    },
    {
        "id": "beadae51.cbc7d",
        "type": "rbe",
        "z": "89f58b06.2d98f",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 790,
        "y": 1380,
        "wires": [
            [
                "1143fc04.03adf4"
            ]
        ]
    },
    {
        "id": "8d243391.eec0e8",
        "type": "api-call-service",
        "z": "89f58b06.2d98f",
        "name": "Office Strip Off",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "debugenabled": true,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.office_strip",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1460,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "310f4148.9f8e46",
        "type": "merge",
        "z": "89f58b06.2d98f",
        "name": "",
        "timeout": "",
        "x": 790,
        "y": 1080,
        "wires": [
            [
                "84e9bfb4.4395a8",
                "6656c99.8847eb8"
            ]
        ]
    },
    {
        "id": "38f779d0.fd87be",
        "type": "debug",
        "z": "89f58b06.2d98f",
        "name": "Darkroom Active",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 880,
        "wires": []
    },
    {
        "id": "31f480d3.0e3b28",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]