NodeRed/officeLight.json
[
    {
        "id": "9ec4d83a.2a29e8",
        "type": "api-call-service",
        "z": "89f58b06.2d98f",
        "name": "Rainbow Lights On",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "debugenabled": true,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.rainbow",
        "data": "{\"entity_id\":\"light.rainbow\",\"brightness_pct\":\"{{brightness}}\",\"effect\":\"{{effect}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1570,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "7bdc2a95.d41344",
        "type": "inject",
        "z": "89f58b06.2d98f",
        "name": "On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 890,
        "y": 1440,
        "wires": [
            [
                "84e9bfb4.4395a8",
                "a0bb7b10.d89d58"
            ]
        ]
    },
    {
        "id": "6a3978e9.614b28",
        "type": "inject",
        "z": "89f58b06.2d98f",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 890,
        "y": 1820,
        "wires": [
            [
                "a6cc5350.49c758",
                "8d243391.eec0e8"
            ]
        ]
    },
    {
        "id": "a6cc5350.49c758",
        "type": "api-call-service",
        "z": "89f58b06.2d98f",
        "name": "Rainbow Lights Off",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.rainbow",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1570,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "4241a7cb.cf378",
        "type": "server-state-changed",
        "z": "89f58b06.2d98f",
        "name": "Office Occuancy",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.office_occupancy",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 200,
        "y": 1400,
        "wires": [
            [
                "310f4148.9f8e46"
            ],
            [
                "beadae51.cbc7d"
            ]
        ]
    },
    {
        "id": "84e9bfb4.4395a8",
        "type": "api-call-service",
        "z": "89f58b06.2d98f",
        "name": "Office Strip On",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "debugenabled": true,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.office_strip",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1560,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "2d68d57f.c8b462",
        "type": "trigger",
        "z": "89f58b06.2d98f",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "20",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1230,
        "y": 1620,
        "wires": [
            [
                "a6cc5350.49c758",
                "8d243391.eec0e8"
            ]
        ]
    },
    {
        "id": "e75d168.a423268",
        "type": "server-state-changed",
        "z": "89f58b06.2d98f",
        "name": "Darkroom Active",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.darkroom_active",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 200,
        "y": 1280,
        "wires": [
            [
                "310f4148.9f8e46"
            ],
            [
                "c12ae8d0.d27ea"
            ]
        ]
    },
    {
        "id": "1143fc04.03adf4",
        "type": "BooleanLogic",
        "z": "89f58b06.2d98f",
        "name": "",
        "operation": "AND",
        "inputCount": 2,
        "topic": "result",
        "x": 1040,
        "y": 1620,
        "wires": [
            [
                "2d68d57f.c8b462"
            ]
        ]
    },
    {
        "id": "c12ae8d0.d27ea",
        "type": "rbe",
        "z": "89f58b06.2d98f",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 830,
        "y": 1580,
        "wires": [
            [
                "1143fc04.03adf4"
            ]
        ]
    },
    {
        "id": "beadae51.cbc7d",
        "type": "rbe",
        "z": "89f58b06.2d98f",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 830,
        "y": 1660,
        "wires": [
            [
                "1143fc04.03adf4"
            ]
        ]
    },
    {
        "id": "8d243391.eec0e8",
        "type": "api-call-service",
        "z": "89f58b06.2d98f",
        "name": "Office Strip Off",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "debugenabled": true,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.office_strip",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1560,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "310f4148.9f8e46",
        "type": "merge",
        "z": "89f58b06.2d98f",
        "name": "",
        "timeout": "",
        "x": 830,
        "y": 1360,
        "wires": [
            [
                "84e9bfb4.4395a8",
                "a0bb7b10.d89d58"
            ]
        ]
    },
    {
        "id": "7c5196c2.5c254",
        "type": "server-state-changed",
        "z": "89f58b06.2d98f",
        "name": "Facetime Active",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.darkroom_facetime_hd_camera_built_in",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 200,
        "y": 1140,
        "wires": [
            [
                "5515871c.640cd"
            ],
            [
                "a0bb7b10.d89d58"
            ]
        ]
    },
    {
        "id": "5515871c.640cd",
        "type": "change",
        "z": "89f58b06.2d98f",
        "name": "Northern Lights Soft",
        "rules": [
            {
                "t": "set",
                "p": "effect",
                "pt": "msg",
                "to": "Northern Lights Soft",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "brightness",
                "pt": "msg",
                "to": "100",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 1080,
        "wires": [
            [
                "9ec4d83a.2a29e8"
            ]
        ]
    },
    {
        "id": "a0bb7b10.d89d58",
        "type": "change",
        "z": "89f58b06.2d98f",
        "name": "Northern Lights Slow",
        "rules": [
            {
                "t": "set",
                "p": "effect",
                "pt": "msg",
                "to": "Northern Lights Slow",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "brightness",
                "pt": "msg",
                "to": "100",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 1180,
        "wires": [
            [
                "9ec4d83a.2a29e8"
            ]
        ]
    },
    {
        "id": "bc71aab6.83d378",
        "type": "inject",
        "z": "89f58b06.2d98f",
        "name": "Facetime On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 890,
        "y": 960,
        "wires": [
            [
                "5515871c.640cd"
            ]
        ]
    },
    {
        "id": "31f480d3.0e3b28",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]