NodeRed/Automations/closetLight/closetLight.json
[
    {
        "id": "42d1060c.6c0878",
        "type": "server-state-changed",
        "z": "89f58b06.2d98f",
        "name": "Master Bedroom Closet Contact",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.master_bedroom_closet_contact",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 190,
        "y": 620,
        "wires": [
            [
                "a6bf9aba.567a6"
            ],
            [
                "5cabafd1.8fcff8"
            ]
        ]
    },
    {
        "id": "6f94b7df.948158",
        "type": "api-call-service",
        "z": "89f58b06.2d98f",
        "name": "Closet Lights Off",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.closet_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1630,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "b156de8a.7e3a78",
        "type": "inject",
        "z": "89f58b06.2d98f",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 910,
        "y": 840,
        "wires": [
            [
                "a91fcaf5.e4497"
            ]
        ]
    },
    {
        "id": "286ce277.7d143e",
        "type": "inject",
        "z": "89f58b06.2d98f",
        "name": "Med",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 890,
        "y": 180,
        "wires": [
            [
                "5dc0e7cb.7dc278"
            ]
        ]
    },
    {
        "id": "5ea3dbb4.e58a7c",
        "type": "time-range-switch",
        "z": "89f58b06.2d98f",
        "name": "Day?",
        "lat": "45.46727",
        "lon": "-73.62562",
        "startTime": "8:00",
        "endTime": "sunset",
        "startOffset": "0",
        "endOffset": "-60",
        "x": 870,
        "y": 340,
        "wires": [
            [
                "fc0ad4df.32a428"
            ],
            []
        ]
    },
    {
        "id": "2dfb571d.49aa2",
        "type": "inject",
        "z": "89f58b06.2d98f",
        "name": "Full",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 890,
        "y": 120,
        "wires": [
            [
                "fc0ad4df.32a428"
            ]
        ]
    },
    {
        "id": "1f9f39b1.f65e16",
        "type": "trigger",
        "z": "89f58b06.2d98f",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "3",
        "extend": true,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "outputs": 1,
        "x": 910,
        "y": 700,
        "wires": [
            [
                "a91fcaf5.e4497"
            ]
        ]
    },
    {
        "id": "9a1e0eb5.ded188",
        "type": "api-call-service",
        "z": "89f58b06.2d98f",
        "name": "Closet Lights On",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.closet_light",
        "data": "{\"entity_id\":\"light.closet_light\",\"kelvin\":\"{{kelvin}}\",\"brightness_pct\":\"{{brightness}}\",\"transition\":\"{{transition}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1630,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "fc0ad4df.32a428",
        "type": "change",
        "z": "89f58b06.2d98f",
        "name": "Set Full",
        "rules": [
            {
                "t": "set",
                "p": "brightness",
                "pt": "msg",
                "to": "100",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "kelvin",
                "pt": "msg",
                "to": "4000",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "transition",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 340,
        "wires": [
            [
                "5e92a53b.54fb34"
            ]
        ]
    },
    {
        "id": "5dc0e7cb.7dc278",
        "type": "change",
        "z": "89f58b06.2d98f",
        "name": "Set Med",
        "rules": [
            {
                "t": "set",
                "p": "brightness",
                "pt": "msg",
                "to": "40",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "kelvin",
                "pt": "msg",
                "to": "3500",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "transition",
                "pt": "msg",
                "to": "",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 460,
        "wires": [
            [
                "5e92a53b.54fb34"
            ]
        ]
    },
    {
        "id": "6cc1f93d.ec2cf",
        "type": "inject",
        "z": "89f58b06.2d98f",
        "name": "Low",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 890,
        "y": 240,
        "wires": [
            [
                "b6684b4f.a66a5"
            ]
        ]
    },
    {
        "id": "b6684b4f.a66a5",
        "type": "change",
        "z": "89f58b06.2d98f",
        "name": "Set Low",
        "rules": [
            {
                "t": "set",
                "p": "brightness",
                "pt": "msg",
                "to": "5",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "kelvin",
                "pt": "msg",
                "to": "2000",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "transition",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 580,
        "wires": [
            [
                "5e92a53b.54fb34"
            ]
        ]
    },
    {
        "id": "a54047c3.357098",
        "type": "time-range-switch",
        "z": "89f58b06.2d98f",
        "name": "Evening?",
        "lat": "45.46727",
        "lon": "-73.62562",
        "startTime": "sunset",
        "endTime": "23:00",
        "startOffset": "-60",
        "endOffset": "0",
        "x": 880,
        "y": 420,
        "wires": [
            [
                "5dc0e7cb.7dc278"
            ],
            []
        ]
    },
    {
        "id": "aef40f8b.c0d8f8",
        "type": "time-range-switch",
        "z": "89f58b06.2d98f",
        "name": "Night?",
        "lat": "45.46727",
        "lon": "-73.62562",
        "startTime": "23:00",
        "endTime": "6:15",
        "startOffset": "0",
        "endOffset": "0",
        "x": 870,
        "y": 580,
        "wires": [
            [
                "b6684b4f.a66a5"
            ],
            []
        ]
    },
    {
        "id": "6b94bd56.122e24",
        "type": "time-range-switch",
        "z": "89f58b06.2d98f",
        "name": "Morning?",
        "lat": "45.46727",
        "lon": "-73.62562",
        "startTime": "6:15",
        "endTime": "8:00",
        "startOffset": "0",
        "endOffset": "0",
        "x": 880,
        "y": 500,
        "wires": [
            [
                "5dc0e7cb.7dc278"
            ],
            []
        ]
    },
    {
        "id": "5cabafd1.8fcff8",
        "type": "api-current-state",
        "z": "89f58b06.2d98f",
        "name": "Closet Automation On",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.closet_automation",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 560,
        "y": 760,
        "wires": [
            [
                "a91fcaf5.e4497"
            ],
            []
        ]
    },
    {
        "id": "a6bf9aba.567a6",
        "type": "api-current-state",
        "z": "89f58b06.2d98f",
        "name": "Closet Automation On",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.closet_automation",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 560,
        "y": 500,
        "wires": [
            [
                "5ea3dbb4.e58a7c",
                "a54047c3.357098",
                "6b94bd56.122e24",
                "aef40f8b.c0d8f8",
                "1f9f39b1.f65e16"
            ],
            []
        ]
    },
    {
        "id": "5e92a53b.54fb34",
        "type": "api-current-state",
        "z": "89f58b06.2d98f",
        "name": "Closet Light Off",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.closet_light",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1400,
        "y": 460,
        "wires": [
            [
                "9a1e0eb5.ded188"
            ],
            []
        ]
    },
    {
        "id": "a91fcaf5.e4497",
        "type": "api-current-state",
        "z": "89f58b06.2d98f",
        "name": "Closet Light On",
        "server": "31f480d3.0e3b28",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.closet_light",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1400,
        "y": 760,
        "wires": [
            [
                "6f94b7df.948158"
            ],
            []
        ]
    },
    {
        "id": "902810a7.5bdb3",
        "type": "comment",
        "z": "89f58b06.2d98f",
        "name": "Lights: Closet",
        "info": "",
        "x": 190,
        "y": 340,
        "wires": []
    },
    {
        "id": "31f480d3.0e3b28",
        "type": "server",
        "name": "Home Assistant",
        "legacy": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]
